<h1 class="text-center">Liste des produits</h1>

@if(isAdmin()){
<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center" />
}

<p-dataView #dv [value]="paginatedProducts()">
  <ng-template pTemplate="list" let-paginatedProducts>
    @for (product of paginatedProducts; track product.id) {
    <p-card class="block mb-2 px-3">
      <span class="font-medium text-secondary text-sm">{{
        product.category
        }}</span>
      <div class="flex justify-content-between text-lg font-medium text-900 mt-2 ">
        <div class="flex align-items-center gap-2">
          {{ product.name }}
          <div class=" surface-100 p-1" style="border-radius: 30px">
            <div class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
              style="border-radius: 30px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.06)">
              <span class="text-900 font-medium text-sm">{{ product.rating }}</span>
              <i class="pi pi-star-fill text-yellow-500"></i>
            </div>
          </div>
          <div>
            <div severity="success">({{product.inventoryStatus | inventaryStatus}})</div>
          </div>
        </div>

        <div class="">
          ({{ product.price | currency }})
        </div>
      </div>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
          <div class="flex gap-3 mt-1">
            @if(isAdmin()){
            <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)" />
            <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)" />
            }
          </div>

          <div class="flex gap-3 mt-1">
            @if(getQuantity(product.id)>0){
            <p-inputNumber [ngModel]="getQuantity(product.id)" (ngModelChange)="onQuantityChange(product, $event)"
              [min]="1" [max]="99" [showButtons]="true" buttonLayout="horizontal" [step]="1" [inputStyle]="{
                      width: '2rem',
                      textAlign: 'center',
                      height: '2rem',
                      padding: '0.25rem 0.5rem',
                    }" decrementButtonClass="w-3 h-2rem " incrementButtonClass="w-3 h-2rem "
              incrementbuttonicon="pi pi-plus">
            </p-inputNumber>
            }

            <!-- @if(!isAuthenticated()){
            <small class="max-w-10rem">Vous devez vous authentifier pour commencer vos achats</small>
            } -->
            @if(product.inventoryStatus){

            }
            <p-button pTooltip="Ajouter au panier" tooltipPosition="top" icon="pi pi-cart-plus" severity="warning"
              (onClick)="onAddToCart(product)"
              [disabled]="!isAuthenticated() || (product.inventoryStatus === InventaryStatus.OUTOFSTOCK)" />
            <p-button pTooltip="Ajouter à la liste des souhaits" tooltipPosition="top" icon="pi pi-bookmark"
              severity="warning" [disabled]="!isAuthenticated()"></p-button>
          </div>
        </div>


      </ng-template>
    </p-card>
    }
  </ng-template>
</p-dataView>

<div class="mt-4">
  <p-paginator [first]="first()" [rows]="rows()" [totalRecords]="productsLength()"
    [rowsPerPageOptions]="[5, 10, 20, 50]" (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true" />
</div>

<p-dialog [(visible)]="isDialogVisible" [style]="{ width: '50vw' }" header="Ajout/Edition produit">
  <app-product-form [product]="editedProduct()" (save)="onSave($event)" (cancel)="onCancel()" />
</p-dialog>